<ion-header>
  <ion-toolbar>
    <ion-title>Editar tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="editedTask.title" placeholder="Título"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input [(ngModel)]="editedTask.description" placeholder="Descripción"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="editedTask.categoryId" placeholder="Selecciona categoría">
      <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
        {{ cat.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="onSave()">Guardar</ion-button>
  <ion-button expand="block" color="medium" fill="clear" (click)="onCancel()">Cancelar</ion-button>
</ion-content>