<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/categories']" size="small" fill="outline">
        Categorías
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment
    [(ngModel)]="filterCategoryId"
    (ionChange)="setFilter(filterCategoryId)"
    scrollable
  >
    <ion-segment-button [value]="null">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button *ngFor="let cat of categories" [value]="cat.id">
      <ion-label>{{ cat.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-task-list
    [tasks]="tasks"
    [categories]="categories"
    [filterCategoryId]="filterCategoryId"
    (toggleCompleted)="toggleCompleted($event)"
    (deleteTask)="deleteTask($event)"
    (editTask)="onEditTaskRequest($event)"
  ></app-task-list>

  <ion-list>
    <ion-item>
      <ion-select
        [(ngModel)]="filterCategoryId"
        [compareWith]="compareFn"
        placeholder="Seleccionar categoría"
        interface="action-sheet"
        class="mobile-select"
      >
        <ion-select-option [value]="null">Sin categoría</ion-select-option>
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item #taskInput>
      <ion-input
        placeholder="Nueva tarea"
        [(ngModel)]="newTaskTitle"
        clearInput
        autocorrect="off"
        autocomplete="off"
        autocapitalize="sentences"
        class="mobile-input"
      >
      </ion-input>
      <ion-button
        slot="end"
        (click)="addTask()"
        [disabled]="!newTaskTitle.trim()"
        class="add-button"
      >
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-input
        placeholder="Descripción de la tarea"
        [(ngModel)]="newTaskDescription"
        clearInput
        autocorrect="off"
        autocomplete="off"
        autocapitalize="sentences"
      >
      </ion-input>
    </ion-item>
  </ion-list>

</ion-content>